@font-face {
  font-family: 'inter-regular';
  src: url('fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'inter-medium';
  src: url('fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
